<style>
    /* HEADER ICONS */
    .navbar-nav > li > a {
        position: relative;
    }

    .badge-notify {
        position: absolute;
        top: 8px;
        right: 6px;
        background-color: #dc3545;
        color: #fff;
        font-size: 11px;
        padding: 3px 6px;
        border-radius: 50%;
        font-weight: 600;
        min-width: 18px;
        text-align: center;
    }

    /* LOGO */
    .logo-mini-img {
        width: 50px;
        height: 50px;
    }

    .logo-lg-img {
        width: 200px;
        height: 50px;
    }

    /* DROPDOWN HEADER */
    .dropdown-menu .header {
        font-weight: 600;
        font-size: 13px;
        background: #f4f6f9;
        padding: 10px;
        text-align: center;
    }

    /* USER */
    .user-header p small {
        display: block;
        color: #6c757d;
    }
</style>

<header class="main-header dark-bg">

    <!-- LOGO -->
    <a href="/Admin/Dashboard/Index" class="logo dark-bg">
        <span class="logo-mini">
            <img src="~/images/logos/mulhtishop1.jpg" class="logo-mini-img" />
        </span>
        <span class="logo-lg">
            <img src="~/images/logos/mulhtishop1.jpg" class="logo-lg-img" />
        </span>
    </a>

    <!-- NAVBAR -->
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu"></a>

        <!-- SEARCH -->
        <div class="pull-left search-box">
            <form method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Ara...">
                    <span class="input-group-btn">
                        <button class="btn btn-flat">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>

        <!-- RIGHT MENU -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <!-- MESSAGES -->
                <li class="dropdown messages-menu">
                    <a href="#" data-toggle="dropdown">
                        <i class="icon-envelope"></i>

                        @if (ViewBag.messageCount > 0)
                        {
                            <span class="badge-notify">@ViewBag.messageCount</span>
                        }
                    </a>

                    <ul class="dropdown-menu">
                        <li class="header">
                            Son Mesajlar
                        </li>

                        <li>
                            <ul class="menu">
                                @foreach (var msg in ViewBag.lastMessages)
                                {
                                    <li>
                                        <a href="/Admin/Message/Detail/@msg.UserMessageId">
                                            <h4>
                                                @msg.Subject
                                                <small>
                                                    <i class="fa fa-clock-o"></i>
                                                    @msg.MessageDate.ToString("HH:mm")
                                                </small>
                                            </h4>
                                            <p>
                                                @msg.MessageDetail.Substring(0,Math.Min(35, msg.MessageDetail.Length)                                                )...
                                            </p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li class="footer">
                            <a href="/Admin/Message/Inbox">Gelen Kutusuna Git</a>
                        </li>
                    </ul>
                </li>

                <!-- COMMENTS -->
                <li class="dropdown notifications-menu">
                    <a href="#" data-toggle="dropdown">
                        <i class="icon-megaphone"></i>

                        @if (ViewBag.totalCommentCount > 0)
                        {
                            <span class="badge-notify">@ViewBag.totalCommentCount</span>
                        }
                    </a>

                    <ul class="dropdown-menu">
                        <li class="header">
                            Son Yorumlar
                        </li>

                        <li>
                            <ul class="menu">
                                @foreach (var comment in ViewBag.lastComments)
                                {
                                    <li>
                                        <a href="/Admin/Comment/Detail/@comment.UserCommentId">
                                            <i class="icon-bubble"></i>
                                            <strong>@comment.NameSurname</strong><br />
                                            <small>@comment.CommentDetail.Substring(0, Math.Min(40, comment.CommentDetail.Length))...</small>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li class="footer">
                            <a href="/Admin/Comment/Index">Tüm Yorumları Gör</a>
                        </li>
                    </ul>
                </li>

                <!-- USER -->
                <li class="dropdown user user-menu">
                    <a href="#" data-toggle="dropdown">
                        <img src="~/images/logos/manlogo.jpg" class="user-image" />
                        <span class="hidden-xs">Admin Panel</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="~/images/logos/manlogo.jpg" class="img-circle" />
                            <p>
                                @User.Identity.Name
                                <small>Yönetici</small>
                            </p>
                        </li>
                        <li><a href="/Admin/Profile/Index"><i class="icon-profile-male"></i> Profil</a></li>
                        <li><a href="/Admin/Message/Inbox"><i class="icon-envelope"></i> Mesajlar</a></li>
                        <li class="divider"></li>
                        <li><a href="/Logout"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>