@model UserDetailViewModel

<nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">

        <!-- SIDEBAR TOGGLE -->
        <button class="navbar-toggler navbar-toggler align-self-center"
                type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
        </button>

        <!-- LOGO -->
        <div class="navbar-brand-wrapper">
            <a class="navbar-brand brand-logo"
               asp-area="User"
               asp-controller="Dashboard"
               asp-action="Index">
                <img src="~/spica/images/logo.svg" alt="logo" />
            </a>

            <a class="navbar-brand brand-logo-mini"
               asp-area="User"
               asp-controller="Dashboard"
               asp-action="Index">
                <img src="~/spica/images/logo-mini.svg" alt="logo" />
            </a>
        </div>

        <!-- KARŞILAMA -->
        <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">
            Tekrar hoş geldiniz, @Model.Name @Model.Surname
        </h4>

        <!-- SAĞ TARAF -->
        <ul class="navbar-nav navbar-nav-right">

            <!-- TARİH -->
            <li class="nav-item">
                <h4 class="mb-0 font-weight-bold d-none d-xl-block">
                    @DateTime.Now.ToString("dd MMM yyyy")
                </h4>
            </li>

            <!-- MESAJLAR -->
            <li class="nav-item mr-1">
                <a class="nav-link count-indicator d-flex justify-content-center align-items-center"
                   asp-area="User"
                   asp-controller="Message"
                   asp-action="Inbox">
                    <i class="mdi mdi-email mx-0"></i>
                    <span class="count bg-info">2</span>
                </a>
            </li>

            <!-- BİLDİRİMLER -->
            <li class="nav-item mr-2">
                <a class="nav-link count-indicator d-flex align-items-center justify-content-center"
                   asp-area="User"
                   asp-controller="Notification"
                   asp-action="Index">
                    <i class="mdi mdi-bell mx-0"></i>
                    <span class="count bg-danger">1</span>
                </a>
            </li>
        </ul>

        <!-- MOBILE MENU -->
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>

    <!-- SEARCH + PROFILE -->
    <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">

        <!-- SEARCH -->
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           placeholder="Aranacak kelimeler..."
                           aria-label="search">
                </div>
            </li>
        </ul>

        <!-- PROFILE -->
        <ul class="navbar-nav navbar-nav-right">

            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="~/spica/images/faces/face5.jpg" alt="profile" />
                    <span class="nav-profile-name">
                        @Model.Name @Model.Surname
                    </span>
                </a>

                <div class="dropdown-menu dropdown-menu-right navbar-dropdown">
                    <a class="dropdown-item"
                       asp-area="User"
                       asp-controller="Profile"
                       asp-action="Index">
                        <i class="mdi mdi-settings text-primary"></i>
                        Ayarlar
                    </a>

                    <a class="dropdown-item"
                       asp-area=""
                       asp-controller="Account"
                       asp-action="Logout">
                        <i class="mdi mdi-logout text-primary"></i>
                        Çıkış Yap
                    </a>
                </div>
            </li>

            <!-- EK İKONLAR -->
            <li class="nav-item">
                <a asp-area="User"
                   asp-controller="MyOrder"
                   asp-action="MyOrderList"
                   class="nav-link icon-link">
                    <i class="mdi mdi-cart"></i>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="User"
                   asp-controller="Home"
                   asp-action="Index"
                   class="nav-link icon-link">
                    <i class="mdi mdi-web"></i>
                </a>
            </li>

            <li class="nav-item">
                <a asp-area="User"
                   asp-controller="Dashboard"
                   asp-action="Index"
                   class="nav-link icon-link">
                    <i class="mdi mdi-clock-outline"></i>
                </a>
            </li>

        </ul>
    </div>
</nav>
